.navbar-brand {
    font-weight: 600px;
    font-size: 24px;
    font-family: sans-serif;
    color: #009970;
}

.login-button {
    background-color: #009970;
    color: #fff;
    font-size: 14px;
    padding: 4px 16px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover {
    background-color: #00b383;
}

.navbar {
    background-color: aliceblue;
}
.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #666777;
    font-weight: 500;
    font-size: 1.1rem;
    position: relative;
}

.nav-link:hover,
.nav-link.active {
    color: #000;
    font-weight: 600;
}

@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 3px;
        visibility: hidden;
        background-color: #009970;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before,
    .nav-link.active::before {
        visibility: visible;
        width: 100%;
    }
}

.page_margin {
    margin-top: 60px;
}

.social_icons {
    color: #009970;
}

.social_icons:hover {
    color: #00b383;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.img-thumbnail {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #009970;
}

strong{
    color: #009970;
    font-weight: 500;
}
.form-control:focus {
    border:2px solid #009970;
    outline: none;
    box-shadow: none;
}
.form-control{
    border: 1px solid #009970;
}

.progress-bar{
    background-color: #009970;
}